* {
  box-sizing: border-box;
}

.container {
  background-color: red;
  width: 900px;
  height: 450px;
  margin: auto;
}

.square {
  width: 225px;
  height: 225px;
  display: inline-block;
  border-radius: 112.5px;
}

.blu {
  background-color: blue;
}

.green {
  background-color: green;
}
